{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Number Guessing Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container mt-5">
    {% if message != 'correct' %}
      {% if message != "" %}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {% endif %}
      <div class="card">
        <div class="card-header">
          <h3>Number Guessing Game</h3>
        </div>
        <div class="card-body">
          <form method='POST'>
              {% csrf_token %}
            <div class="form-group">
              <label for="guessInput">Guess a number between 1 and 10:</label>
              <input type="number" class="form-control" id="guessInput" min="1" max="10" name="nbr" required>
            </div>
            <button type="submit" class="btn btn-primary">Guess</button>
          </form>
        </div>
      </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
      Congratulation Your guess is correct!!
    </div>
    <a class="btn btn-primary" href="{% url 'start_game' %}" role="button">Play Again</a>
    {% endif %}
  </div>
</body>
</html>